# Copia este archivo como .env y completa los valores

# Genera una nueva clave en: https://djecrety.ir/
SECRET_KEY=django-insecure-cambia-esto-por-una-clave-segura

# En produccion debe ser False
DEBUG=False

# Tu dominio en Render, ej: gol-master.onrender.com
ALLOWED_HOSTS=localhost,127.0.0.1

# URL de la base de datos PostgreSQL (Render la provee automaticamente)
DATABASE_URL=sqlite:///db.sqlite3

